In [1]:
import datetime
import time
from airflow import DAG
from airflow.models import Variable
from airflow.operators.python import PythonOperator , BranchPythonOperator
from airflow.operators.dummy import DummyOperator
from airflow.operators.bash import BashOperator
import pandas
import os
import matplotlib.pyplot as plt
import slack_sdk
from slack_sdk.errors import SlackApiError

import psycopg2
plt.rcParams['font.sans-serif'] = ['Taipei Sans TC Beta']

In [3]:
start_date = Variable.get('DAG_STARTDATE')
start_date = datetime.datetime.strptime(start_date + ' 09:30:00' , '%Y%m%d %H:%M:%S')

datetime.datetime(2021, 9, 17, 9, 30)

# Setting

## Arguments

In [14]:
args = {
    'owner' : 'Buneo' ,
    'depends_on_past' : False ,
    'start_date' : start_date ,
    'email_on_failure' : 'buneostock@gmail.com' ,
    'email_on_retry' : 'buneostock@gmail.com' ,
    'retreis' : 2 ,
    'retry_delay' : datetime.timedelta(minutes = 5)
        }

dag = DAG('stock_today_ODS',
          description = '' ,
          schedule_interval = '30 9 * * 1-5',
          default_args = args ,
          tags = ['stock'])

## Variables

In [15]:
postgres_password = Variable.get("Postgres_password")

## DataBase Connection

In [16]:
conn = psycopg2.connect(host = '127.0.0.1' , dbname = 'postgres' , user = 'postgres' , password = postgres_password)
cur = conn.cursor()

#  CHECK_WORK_DATE

## 【 Function 】

In [12]:
def CHECK():
    lastest_workdate = pandas.read_sql("select date from work_date order by date desc", con = conn)['date'].iloc[0]
    lastest_issued_amount_date = pandas.read_sql("select date from issued_amounts order by date desc", con = conn)['date'].iloc[0]
    
    if lastest_workdate == lastest_issued_amount_date:
        if datetime.date.today() == lastest_workdate :
            return ['task_INSTI_INVESTOR_SUMMARIZE' , 'task_STOCK_SMA' , 'task_OTC_SMA' , 'task_FI_OBS_SUM' , 'task_IT_OBS_SUM' , 'task_DL_OBS_SUM' , 'task_MACD' , 'task_BIAS' , 'task_KD' , 'task_CCT20','task_FI_EXPONENT_ENERGY']
        else :
            return 'task_NOT_TRADED_DATE'
    else :
        return 'task_ERROR_TODAY_DATA'

## 【 BranchPythonOperator 】

In [15]:
task_CHECK_WORK_DATE = BranchPythonOperator(task_id = 'task_CHECK_WORK_DATE',
                                            python_callable = CHECK,
                                            dag = dag)

NameError: name 'CHECK' is not defined

# ERROR_TODAY_DATA

In [14]:
task_ERROR_TODAY_DATA = DummyOperator(task_id = 'task_ERROR_TODAY_DATA' , 
                                     dag = dag)

# NOT_TRADED_DATE

## 【 DummpyOperator 】

In [7]:
task_NOT_TRADED_DATE = DummyOperator(task_id = 'task_NOT_TRADED_DATE' , 
                                     dag = dag)

# INSTI_INVESTOR_SUMMARIZE

## 【 Function 】

In [8]:
def INSTI_INVESTOR_SUMMARIZE():
    
    work_D = [pandas.read_sql("select date from work_date order by date desc" , con = conn)['date'].iloc[0]]
    
    for D in work_D:
        
        process_day = '{:0>4}-{:0>2}-{:0>2}'.format(D.year , D.month , D.day)
        
        cur.execute("delete from ods.institutional_investor where date = '{}'".format(process_day))
        cur.execute("commit")
        
        ii = pandas.read_sql("select main.date , main.no , main.quantity , main.type , d.date_no from \
                         (select date , lpad(no,4,'0') as no , quantity , 'Foreign Investor' as type from foreign_investor where date = '{0}'\
                          union\
                          select date , lpad(no,4,'0') as no , quantity , 'Investment Trust' as type from investment_trust where date = '{0}'\
                          union\
                          select date , lpad(no,4,'0') as no , quantity , 'Dealer' as type from dealer where date = '{0}' ) main join work_date d on main.date = d.date".format(process_day), con = conn)
        
        for _ ,data in ii.iterrows():
            
            cur.execute("insert into ods.institutional_investor (date ,no , quantity , type , date_no) values (%s,%s,%s,%s,%s)",data)
        cur.execute('commit')
            
        print('【 Institional Investor 】{} data inserted .'.format(process_day))

## 【 PythonOperator 】

In [9]:
task_INSTI_INVESTOR_SUMMARIZE = PythonOperator(task_id = 'task_INSTI_INVESTOR_SUMMARIZE' ,
                                               python_callable = INSTI_INVESTOR_SUMMARIZE ,
                                               dag = dag)

# STOCK_SMA

## 【 Function 】

In [10]:
def STOCK_SMA():
    
    insert_D = [pandas.read_sql("select date from work_date order by date desc" , con = conn)['date'].iloc[0]]
    
    for iD in insert_D:
        
        # 讀取完整STOCK完整DAILY資料
        main = pandas.read_sql("select main.*, avg.price as avg_p from (select stock.no , stock.name , stock.close , stock.quantity , stock.date , wk.date_no                              from work_date wk                              left join stock_daily stock                                on wk.date = stock.date ) main                      join stock_daily_avg_price avg on main.date = avg.date and main.no = avg.no ", con = conn)
        
        # 將欄位 no , name , date 處理成category格式減少記憶體負擔    
        main[['no','name']] = main[['no','name']].astype('category')
        main['date'] = main['date'].astype('string')
        
        # 新增每日總量欄位 = 均價 × 張數 
        main['amount'] = main.avg_p * main.quantity
        main.sort_values(['no','date_no'], inplace = True)
        
        # 新增前59天JOIN KEY
        for i in range(1,60):
            main['key_{}'.format(i)] = main['date_no'] - i
            main['key_{}'.format(i)] = main['key_{}'.format(i)].astype('category')
        
        # tmp為LEFT JOIN的表格 ，只留需計算的欄位
        tmp = main[['no','date_no','amount','quantity','close']]
        
        # 取得處理日期的DATE_NO , 並留下需insert的日期資料
        iD = '{:0>4}-{:0>2}-{:0>2}'.format(iD.year,iD.month,iD.day)
        ino = pandas.read_sql("select distinct date_no , date from work_date where date = '{}'".format(iD) , con = conn)['date_no'][0]
        main = main[main['date_no'] == ino]
        
        print('Start : \033[1mMERGE\033[0m data within 60 days')
        
        # 將60天內的資料合併成一列 , 並刪除join key
        for i in range(1,60):
            main = pandas.merge(main , tmp , left_on = ['no','key_{}'.format(i)] , right_on = ['no','date_no'] , suffixes = ('','_y_{}'.format(i)))
            main.drop(['date_no_y_{}'.format(i),'key_{}'.format(i)], axis = 1 , inplace = True)
    
        print('Start : \033[1mAGGREGATE\033[0m close & average price')   
    
    # 計算各頻率 SMA & AVG
        freq = [5,10,20,60]
        for f in freq:
            main['sma_{}'.format(f)] = round(main.filter(like = 'close').iloc[:,:f].mean(axis =1),2)
            main['amt_{}'.format(f)] = main.filter(like = 'amount').iloc[:,:f].sum(axis =1)
            main['qty_{}'.format(f)] = main.filter(like = 'quantity').iloc[:,:f].sum(axis =1)
            main['avg_{}'.format(f)] = round((main['amt_{}'.format(f)] / main['qty_{}'.format(f)]),2)
            main.drop(['amt_{}'.format(f),'qty_{}'.format(f)] , axis = 1 , inplace = True)        
        main.drop(main.filter(regex=r'amount\_') , axis = 1 , inplace = True )
        main.drop(main.filter(regex=r'close\_') , axis = 1 , inplace = True )
        main.drop(main.filter(regex=r'quantity\_') , axis = 1 , inplace = True )
        main['date_no'] = pandas.read_sql("select date_no from work_date where date = '{}'".format(iD) , con = conn )['date_no'][0]
        main = main[['date','no','name','close','avg_p','avg_5','avg_10','avg_20','avg_60','sma_5','sma_10','sma_20','sma_60','date_no']]
        
        tmp = pandas.read_sql("select no , date from ods.analyze_avg where date = '{}' ".format(iD) , con = conn)
        
        i_table = pandas.merge(left = main , right = tmp , how = 'left', on = 'no')
        i_table = i_table[i_table['date_y'].isnull()].iloc[:,:-1]
        
        print('Start : \033[1mINSERT\033[0m to target table')
        
        if main.shape[0] == 0:
            pass
        else :
            for _ , data in i_table.iterrows():
                cur.execute("insert into ods.analyze_avg (date ,no ,name , close ,avg_p ,avg5 ,avg10 ,avg20 ,avg60 ,sma5 ,sma10 ,sma20 ,sma60 , date_no) values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)" , data)
            cur.execute('commit')
        print('')

## 【 PythonOperator 】

In [11]:
task_STOCK_SMA = PythonOperator(task_id = 'task_STOCK_SMA' ,
                                python_callable = STOCK_SMA , 
                                dag = dag)

# OTC_SMA

## 【 Function 】

In [12]:
def OTC_SMA():
    
    insert_D = [pandas.read_sql("select date from work_date order by date desc" , con = conn)['date'].iloc[0]]

    for iD in insert_D:
        
        # 讀取完整STOCK完整DAILY資料
        main = pandas.read_sql("select main.*, avg.price as avg_p\
                     from (select stock.no , stock.name , stock.close , stock.quantity , stock.date , wk.date_no \
                             from work_date wk \
                             left join otc_daily stock \
                               on wk.date = stock.date ) main \
                     join stock_daily_avg_price avg on main.date = avg.date and main.no = avg.no ", con = conn)
        
        # 將欄位 no , name , date 處理成category格式減少記憶體負擔    
        main[['no','name']] = main[['no','name']].astype('category')
        main['date'] = main['date'].astype('string')
        
        # 新增每日總量欄位 = 均價 × 張數 
        main['amount'] = main.avg_p * main.quantity
        main.sort_values(['no','date_no'], inplace = True)
        
        # 新增前59天JOIN KEY
        for i in range(1,60):
            main['key_{}'.format(i)] = main['date_no'] - i
            main['key_{}'.format(i)] = main['key_{}'.format(i)].astype('category')
        
        # tmp為LEFT JOIN的表格 ，只留需計算的欄位
        tmp = main[['no','date_no','amount','quantity','close']]
        
        # 取得處理日期的DATE_NO , 並留下需insert的日期資料
        iD = '{:0>4}-{:0>2}-{:0>2}'.format(iD.year,iD.month,iD.day)
        ino = pandas.read_sql("select distinct date_no , date from work_date where date = '{}'".format(iD) , con = conn)['date_no'][0]
        main = main[main['date_no'] == ino]
        
        print('Start : \033[1mMERGE\033[0m data within 60 days')
        
        # 將60天內的資料合併成一列 , 並刪除join key
        for i in range(1,60):
            main = pandas.merge(main , tmp , left_on = ['no','key_{}'.format(i)] , right_on = ['no','date_no'] , suffixes = ('','_y_{}'.format(i)))
            main.drop(['date_no_y_{}'.format(i),'key_{}'.format(i)], axis = 1 , inplace = True)
        
        print('Start : \033[1mAGGREGATE\033[0m close & average price')   
        
        # 計算各頻率 SMA & AVG
        freq = [5,10,20,60]
        for f in freq:
            main['sma_{}'.format(f)] = round(main.filter(like = 'close').iloc[:,:f].mean(axis =1),2)
            main['amt_{}'.format(f)] = main.filter(like = 'amount').iloc[:,:f].sum(axis =1)
            main['qty_{}'.format(f)] = main.filter(like = 'quantity').iloc[:,:f].sum(axis =1)
            main['avg_{}'.format(f)] = round((main['amt_{}'.format(f)] / main['qty_{}'.format(f)]),2)
            main.drop(['amt_{}'.format(f),'qty_{}'.format(f)] , axis = 1 , inplace = True)
            
        # 刪除不需要INSERT的欄位
        main.drop(main.filter(regex=r'amount\_') , axis = 1 , inplace = True )
        main.drop(main.filter(regex=r'close\_') , axis = 1 , inplace = True )
        main.drop(main.filter(regex=r'quantity\_') , axis = 1 , inplace = True )
        main['date_no'] = pandas.read_sql("select date_no from work_date where date = '{}'".format(iD) , con = conn )['date_no'][0]
        main = main[['date','no','name','close','avg_p','avg_5','avg_10','avg_20','avg_60','sma_5','sma_10','sma_20','sma_60','date_no']]
        
        tmp = pandas.read_sql("select no , date from ods.analyze_avg where date = '{}' ".format(iD) , con = conn)
        
        i_table = pandas.merge(left = main , right = tmp , how = 'left', on = 'no')
        i_table = i_table[i_table['date_y'].isnull()].iloc[:,:-1]
        
        
        print('Start : \033[1mINSERT\033[0m to target table')
        
        if main.shape[0] == 0:
            pass
        else :
            for _ , data in i_table.iterrows():
                cur.execute("insert into ods.analyze_avg (date ,no ,name , close ,avg_p ,avg5 ,avg10 ,avg20 ,avg60 ,sma5 ,sma10 ,sma20 ,sma60 , date_no) \
                values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)" , data)
        
            cur.execute('commit')
        print('')

## 【 PythonOperator 】

In [13]:
task_OTC_SMA = PythonOperator(task_id = 'task_OTC_SMA' ,
                                python_callable = OTC_SMA , 
                                dag = dag)

# FI_OBS_SUM

## 【 Function 】

In [14]:
def FI_OBS_SUM():
    
    insert_D = [pandas.read_sql("select date from work_date order by date desc" , con = conn)['date'].iloc[0]]

    for iD in insert_D:

        #iD=datetime.datetime.today()
        D = '{:0>4}-{:0>2}-{:0>2}'.format(iD.year,iD.month,iD.day)
        
        # 取得所有股票代號 , 並分為五等份執行
        stock_no = pandas.read_sql("select no from stock_daily union select no from otc_daily",con = conn)
        step = int((len(stock_no)/5)+0.5)
        
        # 初始化批次區間變數
        x = 0
        y = step
        
        for part in range(5):      
            
            process_stock = tuple(stock_no.iloc[x:y,0].values)
            fi = pandas.read_sql("select distinct head.no , head.date , head.date_no , main.quantity \
                            from (select stock.* , wk.date_no \
                                    from (select no , date from stock_daily a where no in {0} union  select no , date from otc_daily b where no in {0}) stock \
                                    join work_date wk \
                                      on stock.date = wk.date) head \
                            left join (select distinct *  from foreign_investor ) main \
                              on head.no = main.no \
                             and head.date = main.date".format(process_stock) , con = conn).fillna(0)
            
            fi_tmp = fi[['no','date_no','quantity']]
            fi = fi[fi.date.astype('string') == D ]
        
            
            for i in range(1,60):
                fi['key_{}'.format(i)] = fi.date_no - i
            
            for i in range(1,60):
                fi = pandas.merge(fi,fi_tmp , left_on = ['no','key_{}'.format(i)], right_on =['no','date_no'] , suffixes = ('','_y{}'.format(i)))
        
                fi.drop(['key_{}'.format(i),'date_no_y{}'.format(i)], axis = 1 , inplace = True)
          
            fi['fi_sum5'] = fi.filter(like='quantity').iloc[:,:5].sum(axis = 1)
            fi['fi_sum10'] = fi.filter(like='quantity').iloc[:,:10].sum(axis = 1)
            fi['fi_sum20'] = fi.filter(like='quantity').iloc[:,:20].sum(axis = 1)
            fi['fi_sum60'] = fi.filter(like='quantity').iloc[:,:60].sum(axis = 1)
            fi.drop(fi.filter(regex = 'quantity\_').columns , axis =1 , inplace = True)
            fi['date_no'] = pandas.read_sql("select date_no from work_date where date = '{}'".format(D) , con = conn )['date_no'][0]
            fi = fi[['no','date','quantity','fi_sum5','fi_sum10','fi_sum20','fi_sum60','date_no']]

            tmp = pandas.read_sql("select no , date from ods.analyze_FI_OBS where date = '{}' ".format(D) , con = conn)
        
            i_table = pandas.merge(left = fi , right = tmp , how = 'left', on = 'no')
            i_table = i_table[i_table['date_y'].isnull()].iloc[:,:-1]            
            
            for _ , data in i_table.iterrows():
                cur.execute('insert into ods.analyze_FI_OBS (no , date , quantity,sum5,sum10,sum20,sum60,date_no) \
            values (%s,%s,%s,%s,%s,%s,%s,%s)' , data)
            
            cur.execute('commit')
            print('【 Tech Analyze Foreign Investor Over Bought / Sold 】{0} data inserted {1}/5 .'.format(D,part+1))
            x = y
            y += step

## 【 PythonOperator 】

In [15]:
task_FI_OBS_SUM = PythonOperator(task_id = 'task_FI_OBS_SUM' ,
                                 python_callable = FI_OBS_SUM ,
                                 dag = dag)

# IT_OBS_SUM

## 【 Function 】

In [16]:
def IT_OBS_SUM():
    
    insert_D = [pandas.read_sql("select date from work_date order by date desc" , con = conn)['date'].iloc[0]]

    for iD in insert_D:
    
        #iD=datetime.datetime.today()
        D = '{:0>4}-{:0>2}-{:0>2}'.format(iD.year,iD.month,iD.day)
        
        # 取得所有股票代號 , 並分為五等份執行
        stock_no = pandas.read_sql("select no from stock_daily union select no from otc_daily",con = conn)
        step = int((len(stock_no)/5)+0.5)
        
        # 初始化批次區間變數
        x = 0
        y = step
        
        for part in range(5):      
            
            process_stock = tuple(stock_no.iloc[x:y,0].values)
            fi = pandas.read_sql("select distinct head.no , head.date , head.date_no , main.quantity \
                                from (select stock.* , wk.date_no \
                                        from (select no , date from stock_daily a where no in {0} union  select no , date from otc_daily b where no in {0}) stock \
                                        join work_date wk \
                                      on stock.date = wk.date) head \
                            left join (select distinct * from investment_trust) main \
                              on head.no = main.no \
                             and head.date = main.date".format(process_stock) , con = conn).fillna(0)
            
            fi_tmp = fi[['no','date_no','quantity']]
            
            fi = fi[fi.date.astype('string') == D ]
            
            
            for i in range(1,60):
                fi['key_{}'.format(i)] = fi.date_no - i
                
            for i in range(1,60):
                fi = pandas.merge(fi,fi_tmp , left_on = ['no','key_{}'.format(i)], right_on =['no','date_no'] , suffixes = ('','_y{}'.format(i)))
                
                fi.drop(['key_{}'.format(i),'date_no_y{}'.format(i)], axis = 1 , inplace = True)
            
            fi['it_sum5'] = fi.filter(like='quantity').iloc[:,:5].sum(axis = 1)
            fi['it_sum10'] = fi.filter(like='quantity').iloc[:,:10].sum(axis = 1)
            fi['it_sum20'] = fi.filter(like='quantity').iloc[:,:20].sum(axis = 1)
            fi['it_sum60'] = fi.filter(like='quantity').iloc[:,:60].sum(axis = 1)
            fi.drop(fi.filter(regex = 'quantity\_').columns , axis =1 , inplace = True)
            fi['date_no'] = pandas.read_sql("select date_no from work_date where date = '{}'".format(D) , con = conn )['date_no'][0]
            fi = fi[['no','date','quantity','it_sum5','it_sum10','it_sum20','it_sum60','date_no']]
        
            tmp = pandas.read_sql("select no , date from ods.analyze_IT_OBS where date = '{}' ".format(D) , con = conn)
        
            i_table = pandas.merge(left = fi , right = tmp , how = 'left', on = 'no')
            i_table = i_table[i_table['date_y'].isnull()].iloc[:,:-1]  
            
            for _ , data in i_table.iterrows():
                cur.execute('insert into ods.analyze_IT_OBS (no , date , quantity,sum5,sum10,sum20,sum60,date_no) \
            values (%s,%s,%s,%s,%s,%s,%s,%s)' , data)
            
            cur.execute('commit')
            print('【 Tech Analyze Investment Trust Over Bought / Sold 】{0} data inserted {1}/5 .'.format(D,part+1))
            x = y
            y += step

## 【 PythonOperator 】

In [17]:
task_IT_OBS_SUM = PythonOperator(task_id = 'task_IT_OBS_SUM' ,
                                 python_callable = IT_OBS_SUM ,
                                 dag = dag)

# DL_OBS_SUM

## 【 Function 】

In [18]:
def DL_OBS_SUM():
    
    insert_D = [pandas.read_sql("select date from work_date order by date desc" , con = conn)['date'].iloc[0]]

    for iD in insert_D:
    
        #iD=datetime.datetime.today()
        D = '{:0>4}-{:0>2}-{:0>2}'.format(iD.year,iD.month,iD.day)
        
        # 取得所有股票代號 , 並分為五等份執行
        stock_no = pandas.read_sql("select no from stock_daily union select no from otc_daily",con = conn)
        step = int((len(stock_no)/5)+0.5)
        
        # 初始化批次區間變數
        x = 0
        y = step
        
        for part in range(5):      
            
            process_stock = tuple(stock_no.iloc[x:y,0].values)
            dl = pandas.read_sql("select distinct head.no , head.date , head.date_no , main.quantity \
                            from (select stock.* , wk.date_no \
                                    from (select no , date from stock_daily a where no in {0} union  select no , date from otc_daily b where no in {0}) stock \
                                    join work_date wk \
                                      on stock.date = wk.date) head \
                            left join (select distinct *  from dealer ) main \
                              on head.no = main.no \
                             and head.date = main.date".format(process_stock) , con = conn).fillna(0)
            
            dl_tmp = dl[['no','date_no','quantity']]
            dl = dl[dl.date.astype('string') == D ]
    
        
            for i in range(1,60):
                dl['key_{}'.format(i)] = dl.date_no - i
            
            for i in range(1,60):
                dl = pandas.merge(dl,dl_tmp , left_on = ['no','key_{}'.format(i)], right_on =['no','date_no'] , suffixes = ('','_y{}'.format(i)))
        
                dl.drop(['key_{}'.format(i),'date_no_y{}'.format(i)], axis = 1 , inplace = True)
          
            dl['dl_sum5'] = dl.filter(like='quantity').iloc[:,:5].sum(axis = 1)
            dl['dl_sum10'] = dl.filter(like='quantity').iloc[:,:10].sum(axis = 1)
            dl['dl_sum20'] = dl.filter(like='quantity').iloc[:,:20].sum(axis = 1)
            dl['dl_sum60'] = dl.filter(like='quantity').iloc[:,:60].sum(axis = 1)
            dl.drop(dl.filter(regex = 'quantity\_').columns , axis =1 , inplace = True)
            dl['date_no'] = pandas.read_sql("select date_no from work_date where date = '{}'".format(D) , con = conn )['date_no'][0]
            dl = dl[['no','date','quantity','dl_sum5','dl_sum10','dl_sum20','dl_sum60','date_no']]
            
            tmp = pandas.read_sql("select no , date from ods.analyze_DL_OBS where date = '{}' ".format(D) , con = conn)
        
            i_table = pandas.merge(left = dl , right = tmp , how = 'left', on = 'no')
            i_table = i_table[i_table['date_y'].isnull()].iloc[:,:-1]         
            
            for _ , data in i_table.iterrows():
                cur.execute('insert into ods.analyze_DL_OBS (no , date , quantity,sum5,sum10,sum20,sum60,date_no) \
            values (%s,%s,%s,%s,%s,%s,%s,%s)' , data)
            
            cur.execute('commit')
            print('【 Tech Analyze Dealer Over Bought / Sold 】{0} data inserted {1}/5 .'.format(D,part+1))
            x = y
            y += step

## 【 PythonOperator 】

In [19]:
task_DL_OBS_SUM = PythonOperator(task_id = 'task_DL_OBS_SUM' ,
                                 python_callable = DL_OBS_SUM ,
                                 dag = dag )

# MACD

## 【 Function 】

In [20]:
def MACD():
    n = 12
    m = 26
    x = 9
    
    work_D = [pandas.read_sql("select date from work_date order by date desc" , con = conn)['date'].iloc[0]]
    
    for insert_D in work_D:

        D = '{:0>4}-{:0>2}-{:0>2}'.format(insert_D.year,insert_D.month,insert_D.day)
        all_stock = pandas.read_sql("select no from stock_daily where date = '{0}' union select no from otc_daily where date = '{0}'".format(D) , con = conn)['no']
        
        for i_stock in range(len(all_stock)):
            
            TA = all_stock[i_stock]
            today = pandas.read_sql("select m.* , d.date_no from (select date , no , close  from stock_daily where no = '{0}'  union select date , no , close  from otc_daily where no = '{0}' ) m \
                                                            join work_date d \
                                                              on m.date = d.date \
                                                           where d.date = '{1}' ".format(TA , D) , con = conn)
            today[['nEMA','mEMA','DIF','MACD','BAR']] = 0.0
            date_no = today['date_no'][0]
            yesterday = pandas.read_sql("select date , date_no , no , nEMA , mEMA , MACD from ods.macd where no = '{0}' and date_no = {1}".format(TA , date_no-1) , con = conn)
            
            if yesterday.shape[0] == 0:
                today['nEMA'] = today['close'] * 2 / (n + 1)
                today['mEMA'] = today['close'] * 2 / (m + 1)
                today['DIF'] = today['nEMA'] - today['mEMA']
                today['MACD'] = today['DIF'] * 2 / (x + 1)
                today['BAR'] = today['DIF'] - today['MACD']
        
            else:
                today['nEMA'] = ((yesterday['nema'][0] * (n - 1)) + (today['close'] * 2)) / (n + 1)
                today['mEMA'] = ((yesterday['mema'][0] * (m - 1)) + (today['close'] * 2)) / (m + 1)
                today['DIF'] = today['nEMA'] - today['mEMA']
                today['MACD'] = ((yesterday['macd'][0] * (x - 1)) + today['DIF'][0] * 2) / (x + 1)
                today['BAR'] = today['DIF'] - today['MACD']
            today[['BAR','nEMA','mEMA','MACD']] = round(today[['BAR','nEMA','mEMA','MACD']],3)     
            today = today[['date','date_no','no','BAR','nEMA','mEMA','MACD']]
            
            tmp = pandas.read_sql("select no , date from ods.macd where date = '{}' ".format(D) , con = conn)
        
            i_table = pandas.merge(left = today , right = tmp , how = 'left', on = 'no')
            i_table = i_table[i_table['date_y'].isnull()].iloc[:,:-1]
        
            for _,data in i_table.iterrows():
                
                cur.execute("insert into ods.macd (date , date_no , no , macd_bar , nema , mema , macd) values (%s,%s,%s,%s,%s,%s,%s)",data)
            cur.execute("commit")
            
        print("【 MACD 】{} data inserted. ".format(insert_D))

## 【 PythonOperator 】

In [21]:
task_MACD = PythonOperator(task_id = 'task_MACD' ,
                           python_callable = MACD ,
                           dag = dag)

# KD

## 【 Function 】

In [22]:
def KD():
    
    work_D = [pandas.read_sql("select date from work_date order by date desc" , con = conn)['date'].iloc[0]]
    
    for D in work_D:
        insert_D = '{:0>4}-{:0>2}-{:0>2}'.format(D.year,D.month,D.day)
        all_list = pandas.read_sql("select main.no from (select date,no from stock_daily where date = '{0}'  union \
                         select date , no from otc_daily where date = '{0}' ) main left join ods.kd k on main.date =k.date and main.no = k.no where k.no is null".format(insert_D) , con = conn)['no'].tolist()
        
        date_list = tuple(pandas.read_sql("select cast(date as varchar) from work_date where date_no >= (select date_no from work_date where date = '{0}') -8 \
                                              and date_no <= (select date_no from work_date where date = '{0}')".format(insert_D) , con = conn)['date'].tolist())
        try :
            date_no = str(pandas.read_sql("select date_no from work_date where date = '{0}'".format(insert_D) , con = conn)['date_no'][0])
        except IndexError:
            pass
        
        for no in range(len(all_list)):
            kd_ini = pandas.read_sql("select * from ods.kd where no = '{0}'".format(all_list[no]) , con = conn)
            if len(kd_ini) < 8 :           
                cur.execute("insert into ods.kd (date ,date_no, no , k_value , d_value) values (%s,%s,%s,%s,%s)" , (insert_D ,date_no , all_list[no] , 50,50))
                
            else :
                
                process_no = pandas.read_sql("select * from (select date , no , close , highest , lowest from stock_daily where no = '{0}' and date in {1} union \
                                                             select date , no , close , highest , lowest from   otc_daily where no = '{0}' and date in {1}) main \
                                                      order by date ".format(all_list[no],date_list) , con = conn)
                #display(process_no)
                min_9 = process_no[process_no['lowest']>0]['lowest'].min()
                max_9 = process_no[process_no['highest']>0]['highest'].max()
                if min_9 == max_9:
                    RSV = 0
                else :
                    #display(process_no[process_no['close']>0])
                    #display(all_list[no])
                    try:
                        RSV = ((process_no[process_no['close']>0]['close'].iloc[-1]-min_9) / (max_9 - min_9))*100
                        last_kd = pandas.read_sql("select k_value , d_value from ods.kd where no = '{0}' order by date desc limit 1".format(all_list[no],date_list[-2]) , con = conn)
                        last_k = last_kd['k_value'][0]
                        last_d = last_kd['d_value'][0]            
                        
                        today_k = (last_k/3)*2 + (RSV/3)
                        today_d = (last_d/3)*2 + (today_k/3)
                        
                        #print(RSV,today_k , today_d)
                
                        cur.execute("insert into ods.kd (date , date_no , no , k_value , d_value) values (%s,%s,%s,%s,%s)" , (insert_D , date_no , all_list[no] , today_k , today_d))
                        cur.execute("commit")        
        
                    except IndexError:
                        pass
        if len(all_list) == 0:
            print("【 KD 】{0} no need to inserted .".format(insert_D))
        else :
            print("【 KD 】{0} data inserted .".format(insert_D))

## 【 PythonOperator 】

In [23]:
task_KD = PythonOperator(task_id = 'task_KD' ,
                           python_callable = KD ,
                           dag = dag)

# BIAS

## 【 Function 】

In [24]:
def BIAS():
    
    work_D = [pandas.read_sql("select date from work_date order by date desc" , con = conn)['date'].iloc[0]]
    
    for D in work_D:
        
        insert_D = '{:0>4}-{:0>2}-{:0>2}'.format(D.year,D.month,D.day)
        
        all_list = pandas.read_sql("select main.no \
                                      from (select date,no from stock_daily where date = '{0}'  union \
                                            select date , no from otc_daily where date = '{0}' ) main \
                                              join ods.analyze_avg avg \
                                                on avg.no = main.no \
                                               and avg.date = main.date \
                                              left join ods.bias b \
                                                on main.date = b.date \
                                               and main.no = b.no \
                                     where b.no is null".format(insert_D) , con = conn)['no'].tolist()
        
        if len(all_list) == 0:
            print("【 BIAS 】{0} no need to inserted .".format(insert_D))
        else :
            for i in range(len(all_list)):
                main = pandas.read_sql("select * from ods.analyze_avg where date = '{0}' and no = '{1}'".format(insert_D,all_list[i]) , con = conn)
                main['bias_5'] = round((main['close'][0] - main['sma5'][0])/main['sma5'][0],4)
                main['bias_20'] = round((main['close'][0] - main['sma20'][0])/main['sma20'][0],4)
                main = main[['date','date_no','no','bias_5','bias_20']]
                
                tmp = pandas.read_sql("select no , date from ods.bias where date = '{}' ".format(D) , con = conn)
        
                i_table = pandas.merge(left = main , right = tmp , how = 'left', on = 'no')
                i_table = i_table[i_table['date_y'].isnull()].iloc[:,:-1]                
                
                for _,data in i_table.iterrows():                                 
                    cur.execute("insert into ods.bias (date , date_no , no , bias_5,bias_20) values (%s,%s,%s,%s,%s)",data)
                cur.execute("commit")
                
                
            print("【 BIAS 】{0} inserted .".format(insert_D))

## 【 PythonOeprator 】

In [25]:
task_BIAS = PythonOperator(task_id = 'task_BIAS' ,
                           python_callable = BIAS , 
                           dag = dag)

# CCT5

## 【 Function 】

In [26]:
def CCT5():

    work_D = [pandas.read_sql("select date from work_date order by date desc" , con = conn)['date'].iloc[0]]
    
    for D in work_D:
        
        insert_D = '{:0>4}-{:0>2}-{:0>2}'.format(D.year,D.month,D.day)
        
        # 取得股市中的5天內的日期
        html_D = pandas.read_sql("select y.date as first_day ,t.date as last_day \
                                    from work_date t \
                                    join work_date y \
                                      on t.date_no - 4 = y.date_no \
                                   where t.date = '{0}'".format(insert_D) , con = conn)
        # 排除週一到週五但無股市的日期
        if html_D.shape[0] != 0:
            
            first_D = str(html_D['first_day'][0])
            last_D = str(html_D['last_day'][0])
            
            # 讀取處理日期中的所有股票編號
            all_stock = pandas.read_sql("select main.no  from (select no from stock_daily where date = '{0}' union select no from otc_daily where date = '{0}') main left join (select no from ods.cct5 where date = '{0}') c on c.no = main.no where c.no is null and main.no != '1418'".format(insert_D),con = conn)
    
            for i in range(len(all_stock)):
                TA = all_stock['no'][i]
                
                # 讀取當日以前的交易量
                QTY = pandas.read_sql("select * from (select date , no , quantity from stock_daily where no = '{0}' and date <= '{1}' union select date , no , quantity from otc_daily where no = '{0}' and date <= '{1}') a order by date".format(TA,insert_D) , con = conn)
                # 判斷此股票是否有5天的交易日
                if len(QTY) >= 5:
                    
                    sum5 = QTY['quantity'].iloc[-5:].sum()
                    #html = 'http://sod.nsc.com.tw/z/zc/zco/zco.djhtm?a={0}&e={1}&f={2}'.format(TA,first_D,last_D)
                    html = 'https://fubon-ebrokerdj.fbs.com.tw/z/zc/zco/zco.djhtm?a={0}&e={1}&f={2}'.format(TA,first_D,last_D)
                    main = pandas.read_html(html)[2].iloc[-3,[1,6]]
                    
                    # 排除20日內無主力交易
                    if main[1] != '買超':
                    
                        cct5 = round((int(main[1]) - int(main[6]))/sum5,4)
                        date_no = pandas.read_sql("select date_no from work_date where date = '{}'".format(insert_D) , con = conn )['date_no'][0]
                        insert_data = pandas.DataFrame([[insert_D,TA,cct5,date_no]],columns = ['date','no','cct5','date_no'])
                        
                        for _ , data in insert_data.iterrows():
                            try:
                                cur.execute("insert into ods.cct5 (date , no , cct5,date_no) values (%s,%s,%s,%s)",data)
                            except :
                                cur.execute("insert into ods.cct5 (date , no , cct5,date_no) values (%s,%s,%s,%s)",(insert_D,TA,99.9999,date_no))
                        
                        cur.execute("commit")
                        
                    else:
                        pass
                
                else :
                    pass
                
            print("【 CCT5 】{} data inserted. ".format(insert_D))
            
        else :
            pass

## 【 PythonOperator 】

In [27]:
task_CCT5 = PythonOperator(task_id = 'task_CCT5' ,
                           python_callable = CCT5 , 
                           dag = dag)

# CCT20

## 【 Function 】

In [28]:
def CCT20():
    
    work_D = [pandas.read_sql("select date from work_date order by date desc" , con = conn)['date'].iloc[0]]

    for D in work_D:
        
        insert_D = '{:0>4}-{:0>2}-{:0>2}'.format(D.year,D.month,D.day)
        
        # 取得股市中的19天前的日期
        html_D = pandas.read_sql("select y.date as first_day ,t.date as last_day \
                                    from work_date t \
                                    join work_date y \
                                      on t.date_no - 19 = y.date_no \
                                   where t.date = '{0}'".format(insert_D) , con = conn)
        
        # 排除週一到週五但無股市的日期
        if html_D.shape[0] !=0:
            
            first_D = str(html_D['first_day'][0])
            last_D = str(html_D['last_day'][0])
            
            # 讀取處理日期中的所有股票編號
            all_stock = pandas.read_sql("select main.no  from (select no from stock_daily where date = '{0}' union select no from otc_daily where date = '{0}') main left join (select no from ods.cct20 where date = '{0}') c on c.no = main.no where c.no is null and main.no != '1418'".format(insert_D),con = conn)
    
            for i in range(len(all_stock)):
            
                TA = all_stock['no'][i]
                
                # 讀取當日以前的交易量
                QTY = pandas.read_sql("select * from (select date , no , quantity from stock_daily where no = '{0}' and date <= '{1}' union select date , no , quantity from otc_daily where no = '{0}' and date <= '{1}') a order by date".format(TA,insert_D) , con = conn)               
                
                # 判斷此股票是否有20天的交易日
                if len(QTY) >= 20:
                    
                    sum20 = QTY['quantity'].iloc[-20:].sum()
                    #html = 'http://sod.nsc.com.tw/z/zc/zco/zco.djhtm?a={0}&e={1}&f={2}'.format(TA,first_D,last_D)
                    html = 'https://fubon-ebrokerdj.fbs.com.tw/z/zc/zco/zco.djhtm?a={0}&e={1}&f={2}'.format(TA,first_D,last_D)
                    main = pandas.read_html(html)[2].iloc[-3,[1,6]]
                    
                    # 排除20日內無主力交易
                    if main[1] != '買超':
                    
                        cct20 = round((int(main[1]) - int(main[6]))/sum20,4)
                        date_no =pandas.read_sql("select date_no from work_date where date = '{}'".format(insert_D) , con = conn )['date_no'][0]
                        insert_data = pandas.DataFrame([[insert_D,TA,cct20,date_no]],columns = ['date','no','cct20','date_no'])
                        
                        for _ , data in insert_data.iterrows():
                            
                            try:
                                cur.execute("insert into ods.cct20 (date , no , cct20,date_no) values (%s,%s,%s,%s)",data)
                            except :
                                cur.execute("insert into ods.cct20 (date , no , cct20,date_no) values (%s,%s,%s,%s)",(insert_D,TA,99.9999,date_no))
                        cur.execute("commit")
                    
                                
                    else:
                        pass
                    
                    
                else :
                    pass
                
            print("【 CCT20 】{} data inserted. ".format(insert_D))
            
        else :
            pass

## 【 PythonOperator 】

In [29]:
task_CCT20 = PythonOperator(task_id = 'task_CCT20' ,
                            python_callable = CCT20 ,
                            dag = dag)

# FI_EXPONENT_ENERGY

## 【 Function 】

In [30]:
def FI_EXPONENT_ENERGY():
    
    work_D = [pandas.read_sql("select date from work_date order by date desc" , con = conn)['date'].iloc[0]]
    
    for D in work_D:
        
        # 串聯classify , institutional_investor , analyze_avg 取得投信及外資進出數量及成本
        insert_D = '{:0>4}-{:0>2}-{:0>2}'.format(D.year,D.month,D.day)
        
        cur.execute("delete from ods.exponent_insti where date = '{}' and investor = 'Foreign investor'".format(insert_D))
        cur.execute("commit")
        
        FI = pandas.read_sql("select head.type , head.classify , head.date ,head.date_no , body.no , body.qty , body.amt \
                                from (select distinct date , date_no , type , classify from classify c , work_date d where d.date = '{0}') head \
                                left join (select main.date , d.date_no ,  main.no , c.type , c.classify , main.qty , main.amt \
                                        from (select fi.date , fi.no , fi.quantity as qty , fi.quantity * avg.price as AMT \
                                             from FOREIGN_INVESTOR fi \
                                             join STOCK_DAILY_AVG_PRICE avg \
                                               on fi.date = avg.date \
                                              and fi.no = avg.no ) main \
                                             join CLASSIFY c \
                                               on main.no = c.no \
                                             join work_date d \
                                               on main.date = d.date \
                                            where main.date = '{0}' ) body \
                                  on head.type = body.type \
                                 and head.classify = body.classify \
                                 and head.date = body.date ".format(insert_D) 
                        , con = conn)
        
        # 排除insert_D為非股市日
        if FI.shape[0] != 0 :
            #依照組別type, topic 加總金額及數量
            agg = FI[['type','classify','qty','amt']].groupby(['type','classify']).sum().reset_index()
            agg['date'] = FI['date'][0]
            agg['date_no'] = FI['date_no'][0]
            agg['investor'] = 'Foreign investor'
            agg[['amt','qty']].fillna(0)
            agg = agg[['date','date_no','type','classify','qty','amt','investor']]
            
            
            for _ , data in agg.iterrows():
                cur.execute("insert into ods.exponent_insti (date , date_no , type , topic , qty , amt , investor ) values (%s,%s,%s,%s,%s,%s,%s)",data)
            cur.execute('commit')
            
            print('【 Exponent Institutional 】{} Foreign Investor inserted. '.format(insert_D))
            agg = ''
        else:
            pass
        
        # 取得所有 type , topic
        
        all_type = pandas.read_sql("select distinct type from classify ",con = conn)
        
        
        for i_type in range(len(all_type)):   
        
            TYPE = all_type.iloc[i_type][0]
           
            all_topic = pandas.read_sql("select distinct classify from classify where type = '{}'".format(TYPE) , con = conn)
            for i_topic in range(len(all_topic)):
                
                TOPIC = all_topic.iloc[i_topic][0]
                
                main = pandas.read_sql("select * from ods.exponent_insti \
                                         where type = '{0}' \
                                           and topic = '{1}' \
                                           and investor = 'Foreign investor' \
                                           and date_no >= (select date_no from work_date where date = '{2}')-19 \
                                           and date_no <= (select date_no from work_date where date = '{2}') \
                                         order by date ".format(TYPE , TOPIC,insert_D) , con = conn)
                
                if len(main) == 20:
                    main['qty20'].iloc[-1] = main['qty'].sum()
                    main['amt20'].iloc[-1] = main['amt'].sum()
                    DATE = main['date'].iloc[-1]
                    #display(main.iloc[-1])
                    
                    cur.execute("update ods.exponent_insti set qty20 = '{0}' , amt20 = '{1}' \
                                  where date = '{2}' and type = '{3}' and topic = '{4}' and investor = 'Foreign investor'".format(main['qty20'].iloc[-1],main['amt20'].iloc[-1],DATE,TYPE,TOPIC))
                    
                    cur.execute("commit")
                else:
                    pass
        print('【 Exponent Institutional 】{0} qty20 & amt20 of Foreign Investor updated.'.format(insert_D))

## 【 PythonOperator 】

In [31]:
task_FI_EXPONENT_ENERGY = PythonOperator(task_id = 'task_FI_EXPONENT_ENERGY' ,
                                         python_callable = FI_EXPONENT_ENERGY ,
                                         dag = dag)

# IT_EXPONENT_ENERGY

## 【 Function 】

In [32]:
def IT_EXPONENT_ENERGY():
    
    work_D = [pandas.read_sql("select date from work_date order by date desc" , con = conn)['date'].iloc[0]]
    
    for D in work_D:
        
        # 串聯classify , institutional_investor , analyze_avg 取得投信及外資進出數量及成本
        insert_D = '{:0>4}-{:0>2}-{:0>2}'.format(D.year,D.month,D.day)
        
        cur.execute("delete from ods.exponent_insti where date = '{}' and investor = 'Investment trust'".format(insert_D))
        cur.execute("commit")
        
        IT = pandas.read_sql("select head.type , head.classify , head.date ,head.date_no , body.no , body.qty , body.amt \
                                from (select distinct date , date_no , type , classify from classify c , work_date d where d.date = '{0}') head \
                                left join (select main.date , d.date_no ,  main.no , c.type , c.classify , main.qty , main.amt \
                                        from (select it.date , it.no , it.quantity as qty , it.quantity * avg.price as AMT \
                                             from INVESTMENT_TRUST it \
                                             join STOCK_DAILY_AVG_PRICE avg \
                                               on it.date = avg.date \
                                              and it.no = avg.no ) main \
                                             join CLASSIFY c \
                                               on main.no = c.no \
                                             join work_date d \
                                               on main.date = d.date \
                                            where main.date = '{0}' ) body \
                                  on head.type = body.type \
                                 and head.classify = body.classify \
                                 and head.date = body.date ".format(insert_D) 
                        , con = conn)
        
        # 排除insert_D為非股市日
        if IT.shape[0] != 0 :
            #依照組別type, topic 加總金額及數量
            agg = IT[['type','classify','qty','amt']].groupby(['type','classify']).sum().reset_index()
            agg['date'] = IT['date'][0]
            agg['date_no'] = IT['date_no'][0]
            agg['investor'] = 'Investment trust'
            agg = agg[['date','date_no','type','classify','qty','amt','investor']]
            #display(agg)

            for _ , data in agg.iterrows():
                cur.execute("insert into ods.exponent_insti (date , date_no , type , topic , qty , amt , investor ) values (%s,%s,%s,%s,%s,%s,%s)",data)
            cur.execute('commit')
            
            print('【 Exponent Institutional 】{} of Investment Trust inserted. '.format(insert_D))
            agg = ''
        else:
            pass
        # 取得所有 type , topic
        
        all_type = pandas.read_sql("select distinct type from classify ",con = conn)
        
        
        for i_type in range(len(all_type)):   
        
            TYPE = all_type.iloc[i_type][0]
           
            all_topic = pandas.read_sql("select distinct classify from classify where type = '{}'".format(TYPE) , con = conn)
            for i_topic in range(len(all_topic)):
                
                TOPIC = all_topic.iloc[i_topic][0]
                
                main = pandas.read_sql("select * from ods.exponent_insti \
                                         where type = '{0}' \
                                           and topic = '{1}' \
                                           and investor = 'Investment trust' \
                                           and date_no >= (select date_no from work_date where date = '{2}')-19 \
                                           and date_no <= (select date_no from work_date where date = '{2}') \
                                         order by date ".format(TYPE , TOPIC,insert_D) , con = conn)
                
                if len(main) == 20:
                    main['qty20'].iloc[-1] = main['qty'].sum()
                    main['amt20'].iloc[-1] = main['amt'].sum()
                    DATE = main['date'].iloc[-1]
                    #display(main.iloc[-1])
                    
                    cur.execute("update ods.exponent_insti set qty20 = '{0}' , amt20 = '{1}' \
                                  where date = '{2}' and type = '{3}' and topic = '{4}' and investor = 'Investment trust'".format(main['qty20'].iloc[-1],main['amt20'].iloc[-1],DATE,TYPE,TOPIC))
                    
                    cur.execute("commit")
                else:
                    pass
        print('【 Exponent Institutional 】{0} qty20 & amt20 of Investment trust updated.'.format(insert_D))

## 【 PythonOperator 】

In [33]:
task_IT_EXPONENT_ENERGY = PythonOperator(task_id = 'task_IT_EXPONENT_ENERGY' ,
                                         python_callable = IT_EXPONENT_ENERGY ,
                                         dag = dag)

# REPORT_CCT20

## 【 Function 】

In [34]:
def REPORT_CCT20():
    
    insert_sql = "insert into report.cct20_history \
              (date,no,name,price,cct5,cct20,fi_obs,it_obs,qty10,exponent,topic,tangled_num) \
              values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
    insert_c_sql = "insert into report.cct20_history_c \
              (date,no,name,price,cct5,cct20,fi_obs,it_obs,qty10,exponent,topic,tangled_num) \
              values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
    
    sma = pandas.read_sql("select date,no,close,sma5,sma10,sma20,sma60 from ods.analyze_avg where date_no = (select max(date_no) from work_date)" , con = conn)
    sma['糾結數量'] = 0
    i = 0
    for i in range(len(sma)):
        if (sma['sma5'][i] <= sma['sma10'][i]*1.03 and sma['sma5'][i] >= sma['sma10'][i]*0.97) and \
        (sma['sma5'][i] <= sma['sma20'][i]*1.03 and sma['sma5'][i] >= sma['sma20'][i]*0.97) and \
        (sma['sma5'][i] <= sma['sma60'][i]*1.03 and sma['sma5'][i] >= sma['sma60'][i]*0.97):
            sma['糾結數量'].iloc[i] = 4
        elif (sma['sma5'][i] <= sma['sma10'][i]*1.03 and sma['sma5'][i] >= sma['sma10'][i]*0.97) and \
        (sma['sma5'][i] <= sma['sma20'][i]*1.03 and sma['sma5'][i] >= sma['sma20'][i]*0.97) :
            sma['糾結數量'].iloc[i] = 3
    sma = sma[['no','糾結數量']]
    sma.columns = ['股票代號','糾結數量']
    
    a = pandas.read_sql("select main.* , fi.sum20 from (select *  from ods.cct20 c \
                  where c.date_no >= (select max(date_no) from work_date )-4 ) main join ods.analyze_fi_obs fi on main.date = fi.date and main.no = fi.no\
                  order by main.no , main.date_no\
                " , con = conn)

    a['bigger'] = ''
    query_D = pandas.read_sql("select max(date) from work_date" , con = conn).iloc[0,0]
    
    try:
        os.mkdir('/home/buneo/Stock/CCT20/{:0>4}{:0>2}{:0>2}'.format(query_D.year , query_D.month , query_D.day))
        pass
    except FileExistsError:
        pass 
    for i in range(1,len(a)):
        if a['no'].iloc[i] == a['no'].iloc[i-1]:
            if a['cct20'].iloc[i] > a['cct20'].iloc[i-1]:
                a['bigger'].iloc[i] = 'Y'
    b = a[a['bigger'] == 'Y'][['no','bigger']].groupby('no').count()
    qqq = b[b['bigger'] == 4].index.tolist()
    c =a[a['date'] == query_D]
    mask = c['no'].isin(qqq)
    clas = pandas.read_sql("select no , concat(classify,'/') topic from classify where type in ('topic','semi')" , con = conn).groupby('no').sum('topic')
    p = pandas.read_sql("select date , no , close , name from stock_daily where date = '{0}' union select date , no , close , name from otc_daily where date = '{0}' ".format(query_D) , con = conn)
    it20 = pandas.read_sql("select no,date,sum20 as IT20 from ods.analyze_it_obs where date = '{}'".format(query_D) , con = conn)
    c = pandas.merge(c[['date','no','cct20','sum20']],clas,on='no',how = 'left')    
    c = pandas.merge(c,p , on ='no')    
    c = pandas.merge(c,it20 , on = 'no').iloc[:,[0,1,7,6,2,3,9,4]]
    exp = pandas.read_sql("select no AS 股票代號 , classify AS 類股 from classify where type in ('otc','stock')" , con = conn)
    
    c.columns = ['日期','股票代號','股票名稱','收盤價','20日集中度','20日外資買賣超','20日投信買賣超','題材']
    c = pandas.merge(c,sma,on = '股票代號',how = 'left')
    c = pandas.merge(c,exp,on = '股票代號' , how ='left')
    c = c.iloc[:,[0,1,2,3,4,5,6,9,7,8]]
    c5 = pandas.read_sql("select no , cct5 from ods.cct5 where date = '{}'".format(query_D) , con = conn)
    
    qty10 = pandas.read_sql("select  no , cast(avg(quantity) as int) AS qty10 from stock_daily stock where stock.date in (select date from work_date where date_no >= (select max(date_no) from work_date ) -9 )  group by no union \
                            select  no , cast(avg(quantity) as int )AS qty10 from otc_daily stock where stock.date in (select date from work_date where date_no >= (select max(date_no) from work_date ) -9 )  group by no " , con = conn)
    cc10 = pandas.merge(left = c[c['股票代號'].isin(qqq)],right = qty10,left_on = '股票代號',right_on = 'no')
    
    ms1 = cc10['股票代號'].isin(qqq)
    ms2 = cc10['20日集中度'] <= 0.5
    ms3 = cc10['20日集中度'] >= -0.05
    ms4 = cc10['qty10'] >= 500
    report_cct10 = cc10[ms1 & ms2 & ms3 & ms4]
    report_cct10 = pandas.merge(left = report_cct10 , right = c5 , left_on = '股票代號',right_on = 'no').iloc[:,[0,1,2,3,13,4,5,6,11,7,8,9]]
    report_cct10.columns = ['日期','股票代號','股票名稱','收盤價','5日集中度','20日集中度','20日外資買賣超','20日投信買賣超','10日平均成交量','類股','題材','糾結數量']
    cur.execute("delete from report.cct20_history where date = '{}'".format(query_D))
    cur.execute("commit")
    
    for _ , data in report_cct10.iterrows():
        cur.execute(insert_sql,data)
    cur.execute("commit")
    
    report_cct10.sort_values('20日集中度').to_csv('/home/buneo/Stock/CCT20/{0:0>4}{1:0>2}{2:0>2}/20日集中度_{1:0>2}{2:0>2}.csv'.format(query_D.year, query_D.month,query_D.day),index = False)
    
    qty5 = pandas.read_sql("select  no , avg(quantity) qty from stock_daily stock where stock.date in (select date from work_date where date_no >= (select max(date_no) from work_date ) -4 )  group by no union \
                        select  no , avg(quantity) qty from otc_daily stock where stock.date in (select date from work_date where date_no >= (select max(date_no) from work_date ) -4 )  group by no " , con = conn)
    cc5 = pandas.merge(c[c['股票代號'].isin(qqq)],qty5,left_on = '股票代號',right_on = 'no')
    
    mask_1 = cc5['qty']>=1500
    mask_2 = cc5['收盤價'] >=5
    mask_3 = cc5['收盤價'] <=150
    mask_4 = cc5['20日集中度'] >= -0.1
    report_cct5 = cc5[mask_1 & mask_2 & mask_3 & mask_4].iloc[:,[0,1,2,3,11,4,5,6,7,8,9]]
    report_cct5 = pandas.merge(left = report_cct5 , right = c5 , left_on = '股票代號' , right_on = 'no').iloc[:,[0,1,2,3,12,5,6,7,4,8,9,10]]
    
    cur.execute("delete from report.cct20_history_c where date = '{}'".format(query_D))
    cur.execute("commit")
    
    for _ , data in report_cct5.iterrows():
        cur.execute(insert_c_sql,data)
    cur.execute("commit")
    report_cct5.columns = ['日期','股票代號','股票名稱','收盤價','5日集中度','20日集中度','20日外資買賣超','20日投信買賣超','10日平均成交量','類股','題材','糾結數量']
    report_cct5.sort_values('20日集中度').to_csv('/home/buneo/Stock/CCT20/{0:0>4}{1:0>2}{2:0>2}/20日集中度_{1:0>2}{2:0>2}_鄭大版.csv'.format(query_D.year, query_D.month,query_D.day),index = False)

## 【 PythonOperator 】

In [35]:
task_REPORT_CCT20 = PythonOperator(task_id = 'task_REPORT_CCT20' ,
                                   python_callable = REPORT_CCT20 ,
                                   dag = dag ,
                                   trigger_rule = 'all_success')

# REPORT_GOODPRICE

## 【 Function 】

In [36]:
def REPORT_GOODPRICE():
    sma = pandas.read_sql("select date , no , close , sma10 , sma20 from ods.analyze_avg where date_no = (select max(date_no) from work_date) and (close < sma10 or close < sma20) " , con = conn)
    FI = pandas.read_sql("select date , no , sum10 , sum20 from ods.analyze_fi_obs where date_no = (select max(date_no) from work_date) and (sum10 > 300000 or sum20 > 300000)" , con = conn)
    name = pandas.read_sql("select date , no , name from stock_daily where date = (select max(date) from work_date)\
                     union \
                     select date , no , name from otc_daily where date = (select max(date) from work_date)" , con = conn)
    main = pandas.merge(sma,FI , on =['date','no'])
    main = main[main['close'] > 0]
    
    main['v10'] = main.apply(lambda x : round((x['sma10'] - x['close']) / x['close'],4)*100  if (x['close'] < x['sma10']) and x['sum10'] > 0 else '' , axis = 1)
    main['v20'] = main.apply(lambda x : round((x['sma20'] - x['close']) / x['close'],4)*100 if (x['close'] < x['sma20']) and x['sum20'] > 0 else '' , axis = 1)
    main['v10'] = main.apply(lambda x : str(x['v10'])[:4] + '%' if x['v10'] != '' else '' , axis = 1 )
    main['v20'] = main.apply(lambda x : str(x['v20'])[:4] + '%' if x['v20'] != '' else '', axis = 1 )
    mask_1 = main['v10'] != ''
    mask_2 = main['v20'] != ''
    main = main[ mask_1 | mask_2 ]
    main = main.sort_values(['sum20','sum10'] , ascending = False)
    n_main = pandas.merge(main,name , on = ['date','no']).iloc[:,[0,1,9,2,3,4,5,6,7,8]]
    query_D = n_main['date'][0]
    n_main.to_csv('/home/buneo/Stock/GOOD_PRICE/GOOD_PRICE_{:0>4}{:0>2}{:0>2}.csv'.format(query_D.year , query_D.month , query_D.day),index = False)

## 【 PythonOperator 】

In [37]:
task_REPORT_GOODPRICE = PythonOperator(task_id = 'task_REPORT_GOODPRICE' ,
                                   python_callable = REPORT_GOODPRICE ,
                                   dag = dag ,
                                   trigger_rule = 'all_success')

# REPORT_EXPONENT_ENERGY

## 【 BashOperator 】

In [38]:
task_REPORT_EXPONENT_ENERGY = BashOperator(task_id = 'task_REPORT_EXPONENT_ENERGY',
                                           bash_command = 'python /home/buneo/Stock/report_func/Report_exponent_energy.py' ,
                                           dag = dag ,
                                           trigger_rule = 'all_success')

# SLACK_CCT20_MACD

## 【 Function 】

In [1]:
def SLACK_CCT20_MACD():
    
    # 取最後交易日 , 讀取20日集中度報表
    max_date = pandas.read_sql("select max(date) as date from work_date " , con = conn)['date'].iloc[0]
    
    # 最後近20天交易日
    date_list = tuple(pandas.read_sql("select * from work_date order by date desc limit 50" , con = conn)['date_no'])
    
    try :
        os.mkdir('/home/buneo/Stock/SLACK_REPORT/CCT20_SLACK/{}'.format(str(max_date)))
    except FileExistsError:
        pass
    
    try :
        os.mkdir('/home/buneo/Stock/SLACK_REPORT/CCT20_SLACK_MACD_GREEN/{}'.format(str(max_date)))
    except FileExistsError:
        pass
    
    try :
        os.mkdir('/home/buneo/Stock/SLACK_REPORT/CCT20_SLACK_C/{}'.format(str(max_date)))
    except FileExistsError:
        pass
    
    try :
        os.mkdir('/home/buneo/Stock/SLACK_REPORT/MACD_02/{}'.format(str(max_date)))
    except FileExistsError:
        pass
    
    try :
        os.mkdir('/home/buneo/Stock/SLACK_REPORT/MACD_24/{}'.format(str(max_date)))
    except FileExistsError:
        pass
    
    # 20日集中度報表
    cct20 = pandas.read_sql("select * from report.cct20_history where date ='{}'".format(str(max_date)) , con = conn)
    
    # 20日集中度報表所有"股票代號"
    no_list = cct20['no'].tolist()
    
    for no in no_list:
        
        # 讀目前股票代號取近20日MACD
        no_macd = pandas.read_sql("select cast(date as varchar(10)) as date , no , macd_bar , macd , (mema-nema) as DIF from ods.macd where date_no in {0} and no = '{1}' order by date".format(date_list , no) , con = conn)
        no_macd = no_macd.reset_index()
        no_macd['color'] = no_macd.apply(lambda x : 'red' if x['macd_bar'] > 0 else 'green' , axis = 1)
        no_macd['xticks'] = no_macd.apply(lambda x : x['date'] if ((x['index']+1) % 5 == 0 or x['index'] == 0) else "" , axis = 1)   
        max_bar = no_macd['macd_bar'].abs().max()
        
        # 將20日集中度數值設定為變數
        tmp = cct20[cct20['no'] == no]
        cct20_no = tmp['no'].iloc[0]
        cct20_name = tmp['name'].iloc[0]
        cct20_date = tmp['date'].iloc[0]
        
        fig , ax = plt.subplots(1,1,figsize = (12,5))
        ax.set_title('{0} ({1}) '.format(cct20_no , cct20_name) , fontsize = 20)
        ax.set_ylim(-max_bar , max_bar)
        ax.grid(which = 'major')
        ax.bar(x = no_macd['date'] , height = no_macd['macd_bar'] , align = 'center' , color = no_macd['color'] )
        plt.xticks(no_macd['xticks'])
        plt.savefig('/home/buneo/Stock/SLACK_REPORT/CCT20_SLACK/{0}/{2}{1}.png'.format(max_date ,cct20_name , cct20_no))
        plt.close()
        
    # 20日集中度報表
    cct20 = pandas.read_sql("select * from report.cct20_history_c where date ='{}'".format(str(max_date)) , con = conn)
    
    # 20日集中度報表所有"股票代號"
    no_list = cct20['no'].tolist()
    
    for no in no_list:
        
        # 讀目前股票代號取近20日MACD
        no_macd = pandas.read_sql("select cast(date as varchar(10)) as date , no , macd_bar , macd , (mema-nema) as DIF from ods.macd where date_no in {0} and no = '{1}' order by date".format(date_list , no) , con = conn)
        no_macd = no_macd.reset_index()
        no_macd['color'] = no_macd.apply(lambda x : 'red' if x['macd_bar'] > 0 else 'green' , axis = 1)
        no_macd['xticks'] = no_macd.apply(lambda x : x['date'] if ((x['index']+1) % 5 == 0 or x['index'] == 0) else "" , axis = 1)   
        max_bar = no_macd['macd_bar'].abs().max()
        
        # 將20日集中度數值設定為變數
        tmp = cct20[cct20['no'] == no]
        cct20_no = tmp['no'].iloc[0]
        cct20_name = tmp['name'].iloc[0]
        cct20_date = tmp['date'].iloc[0]
        
        fig , ax = plt.subplots(1,1,figsize = (12,5))
        ax.set_title('{0} ({1})'.format(cct20_no , cct20_name) , fontsize = 20)
        ax.set_ylim(-max_bar , max_bar)
        ax.grid(which = 'major')
        ax.bar(x = no_macd['date'] , height = no_macd['macd_bar'] , align = 'center' , color = no_macd['color'] )
        plt.xticks(no_macd['xticks'])
        plt.savefig('/home/buneo/Stock/SLACK_REPORT/CCT20_SLACK_C/{0}/{2}{1}.png'.format(max_date ,cct20_name, cct20_no))
        plt.close()
        
    
    cct20 = pandas.read_sql("select * from ods.cct20 where date ='{}'".format(str(max_date)) , con = conn)
    
    macd = pandas.read_sql("select no , date_no from ods.macd where date = '{0}' and macd_bar < 0".format(max_date) , con = conn)
    
    green_macd_no = macd['no'].tolist()
    date_no = macd['date_no'].unique()[0]-3
    
    main = pandas.read_sql("select * from ods.macd where date_no >= '{0}' and no in {1} order by no , date".format(date_no,tuple(green_macd_no)), con = conn)
    main['bigger'] = ''
    
    for i in range(1,len(main)):#range(len(main)):
        if main['no'][i] == main['no'][i-1] :
            if main['macd_bar'][i] >= main['macd_bar'][i-1]:
                main['bigger'][i] = main['bigger'][i-1]+'Y'
        else :
            main['bigger'][i] = ''
    
    rise_no = main[main['bigger'] == 'YYY'][['no']]
    no_5d = pandas.read_sql("select no , count(*) from (\
                                 select no from stock_daily s join work_date d on s.date = d.date and d.date_no >= {0}\
                                 union all \
                                 select no from   otc_daily o join work_date d on o.date = d.date and d.date_no >= {0}) a\
                                 group by no having count(*) = 5".format(date_no) , con = conn)['no'].tolist()
    vol_1000 = pandas.read_sql("select no , avg(qty) from (select no , quantity qty from stock_daily s join work_date d on s.date = d.date and d.date_no >= {0} \
                                                           union all \
                                                           select no , quantity qty from   otc_daily o join work_date d on o.date = d.date and d.date_no >= {0} ) a \
                                group by no having avg(qty) >= 1000".format(date_no) , con = conn)
    image_no = pandas.merge(left = rise_no , right = vol_1000 , on = 'no')
    
    price_no = pandas.read_sql("select date , no from ods.analyze_avg where date_no = '{0}' and close > sma60".format(date_no+3) , con = conn)[['no']]
    
    image_no = pandas.merge(left = image_no , right = price_no , on = 'no')['no'].tolist()
    
    
    for no in image_no:
    
        # 讀目前股票代號取近20日MACD
        no_macd = pandas.read_sql("select cast(date as varchar(10)) as date , no , macd_bar , macd , (mema-nema) as DIF from ods.macd where date_no in {0} and no = '{1}' order by date".format(date_list , no) , con = conn)
        no_macd = no_macd.reset_index()
        no_macd['color'] = no_macd.apply(lambda x : 'red' if x['macd_bar'] > 0 else 'green' , axis = 1)
        no_macd['xticks'] = no_macd.apply(lambda x : x['date'] if ((x['index']+1) % 5 == 0 or x['index'] == 0) else "" , axis = 1)   
        max_bar = no_macd['macd_bar'].abs().max()
        
        # 將20日集中度數值設定為變數
        tmp = cct20[cct20['no'] == no]
        cct20_no = tmp['no'].iloc[0]
        cct20_name = pandas.read_sql("select no , name from stock_daily where date = '{0}' and no = '{1}' union select no , name from otc_daily where date = '{0}' and no = '{1}'".format(max_date , no) , con = conn)['name'].iloc[0]
        cct20_date = tmp['date'].iloc[0]
        
        fig , ax = plt.subplots(1,1,figsize = (12,5))
        ax.set_title('{0} ({1})'.format(cct20_no , cct20_name) , fontsize = 20)
        ax.set_ylim(-max_bar , max_bar)
        ax.grid(which = 'major')
        ax.bar(x = no_macd['date'] , height = no_macd['macd_bar'] , align = 'center' , color = no_macd['color'] )
        plt.xticks(no_macd['xticks'])
        plt.savefig('/home/buneo/Stock/SLACK_REPORT/CCT20_SLACK_MACD_GREEN/{0}/{2}{1}.png'.format(max_date ,cct20_name , cct20_no))
        plt.close()
        
    
    vol_600 = pandas.read_sql("select no , avg(qty) from (select no , quantity qty from stock_daily s join work_date d on s.date = d.date and d.date_no >= {0} \
                                                           union all \
                                                           select no , quantity qty from   otc_daily o join work_date d on o.date = d.date and d.date_no >= {0} ) a \
                                group by no having avg(qty) >= 600".format(date_no) , con = conn)
    price_no = pandas.read_sql("select date , no from ods.analyze_avg where date = '{0}' and close > 15 and close < 300 ".format(max_date) , con = conn)[['no']]
    
    macd_02 = pandas.read_sql("select no , date_no from ods.macd where date = '{0}' and macd_bar <= 0 and macd_bar >= -2 ".format(max_date) , con = conn)
    macd_02 = pandas.merge(macd_02 , vol_600 , on = 'no')
    macd_02 = pandas.merge(macd_02 , price_no , on = 'no')['no'].tolist()
    
    for no in macd_02:
    
        # 讀目前股票代號取近20日MACD
        no_macd = pandas.read_sql("select cast(date as varchar(10)) as date , no , macd_bar , macd , (mema-nema) as DIF from ods.macd where date_no in {0} and no = '{1}' order by date".format(date_list , no) , con = conn)
        no_macd = no_macd.reset_index()
        no_macd['color'] = no_macd.apply(lambda x : 'red' if x['macd_bar'] > 0 else 'green' , axis = 1)
        no_macd['xticks'] = no_macd.apply(lambda x : x['date'] if ((x['index']+1) % 5 == 0 or x['index'] == 0) else "" , axis = 1)   
        max_bar = no_macd['macd_bar'].abs().max()
        
        # 將20日集中度數值設定為變數
        tmp = cct20[cct20['no'] == no]
        cct20_no = tmp['no'].iloc[0]
        cct20_name = pandas.read_sql("select no , name from stock_daily where date = '{0}' and no = '{1}' union select no , name from otc_daily where date = '{0}' and no = '{1}'".format(max_date , no) , con = conn)['name'].iloc[0]
        cct20_date = tmp['date'].iloc[0]
        
        fig , ax = plt.subplots(1,1,figsize = (12,5))
        ax.set_title('{0} ({1})'.format(cct20_no , cct20_name) , fontsize = 20)
        ax.set_ylim(-max_bar , max_bar)
        ax.grid(which = 'major')
        ax.bar(x = no_macd['date'] , height = no_macd['macd_bar'] , align = 'center' , color = no_macd['color'] )
        plt.xticks(no_macd['xticks'])
        plt.savefig('/home/buneo/Stock/SLACK_REPORT/MACD_02/{0}/{2}{1}.png'.format(max_date ,cct20_name , cct20_no))
        plt.close()
        
    
    macd_24 = pandas.read_sql("select no , date_no from ods.macd where date = '{0}' and macd_bar <= -2 and macd_bar >= -4 ".format(max_date) , con = conn)
    macd_24 = pandas.merge(macd_24 , vol_600 , on = 'no')
    macd_24 = pandas.merge(macd_24 , price_no , on = 'no')['no'].tolist()
    
    for no in macd_24:
    
        # 讀目前股票代號取近20日MACD
        no_macd = pandas.read_sql("select cast(date as varchar(10)) as date , no , macd_bar , macd , (mema-nema) as DIF from ods.macd where date_no in {0} and no = '{1}' order by date".format(date_list , no) , con = conn)
        no_macd = no_macd.reset_index()
        no_macd['color'] = no_macd.apply(lambda x : 'red' if x['macd_bar'] > 0 else 'green' , axis = 1)
        no_macd['xticks'] = no_macd.apply(lambda x : x['date'] if ((x['index']+1) % 5 == 0 or x['index'] == 0) else "" , axis = 1)   
        max_bar = no_macd['macd_bar'].abs().max()
        
        # 將20日集中度數值設定為變數
        tmp = cct20[cct20['no'] == no]
        cct20_no = tmp['no'].iloc[0]
        cct20_name = pandas.read_sql("select no , name from stock_daily where date = '{0}' and no = '{1}' union select no , name from otc_daily where date = '{0}' and no = '{1}'".format(max_date , no) , con = conn)['name'].iloc[0]
        cct20_date = tmp['date'].iloc[0]
        
        fig , ax = plt.subplots(1,1,figsize = (12,5))
        ax.set_title('{0} ({1})'.format(cct20_no , cct20_name) , fontsize = 20)
        ax.set_ylim(-max_bar , max_bar)
        ax.grid(which = 'major')
        ax.bar(x = no_macd['date'] , height = no_macd['macd_bar'] , align = 'center' , color = no_macd['color'] )
        plt.xticks(no_macd['xticks'])
        plt.savefig('/home/buneo/Stock/SLACK_REPORT/MACD_24/{0}/{2}{1}.png'.format(max_date ,cct20_name , cct20_no))
        plt.close()

## 【 PythonOperator 】

In [ ]:
task_SLACK_CCT20_MACD = PythonOperator(task_id = 'task_SLACK_CCT20_MACD',
                                       python_callable = SLACK_CCT20_MACD , 
                                       dag = dag)

# SLACK_MESSAGE

## 【 Function 】

In [17]:
def SLACK_MESSAGE():
    
    FILE_LIST = {'IMAGE_CCT20_NORMAL': {'LOCAL_FOLDER' : 'CCT20_SLACK' , 'CH':'cct20-一般版' , 'TABLE':'cct20_history' , 'FILE_NAME':'/20日集中度_{0}.csv'
                                    ,'CH_ID' : 'C02DF5Y0SQ3'
                                    ,'SLACK_URL':'https://hooks.slack.com/services/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'},
             'IMAGE_CCT20_JHENG': {'LOCAL_FOLDER' : 'CCT20_SLACK_C' , 'CH':'cct20-鄭大版', 'TABLE':'cct20_history_c' , 'FILE_NAME':'/20日集中度_{0}_鄭大版.csv'
                                    ,'CH_ID' : 'C02DF632PL2'
                                    ,'SLACK_URL':'https://hooks.slack.com/services/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'},
             'IMAGE_CCT20_MACD':{'LOCAL_FOLDER' : 'CCT20_SLACK_MACD_GREEN' , 'CH' : 'cct20-macd' , 'TABLE' : ''
                                    ,'CH_ID' : 'C02DC5L3U1K'
                                    ,'SLAKC_URL':'https://hooks.slack.com/services/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'}}

    SLACK_TOKEN = Variable.get("SLACK_TOKEN")
    DICT_PARAM = [{'name':'IMAGE_CCT20_NORMAL'},{'name':'IMAGE_CCT20_JHENG'},{'name':'IMAGE_CCT20_MACD'}]
    ADVICE_LIST= '<@aa0952828017><@s912763><@buneostock>'   
    lastest_date = str(pandas.read_sql("select date from work_date order by date desc limit 1" , con = conn)['date'].iloc[0])
    
    client = slack_sdk.WebClient(token = SLACK_TOKEN)
    
    for i in range(len(FILE_LIST)):
        
        local_path = '/home/buneo/Stock/SLACK_REPORT/{0}/{1}'.format(FILE_LIST[DICT_PARAM[i]['name']]['LOCAL_FOLDER'] , lastest_date)
        items = sorted(os.listdir(local_path))
        items = items
        #items = service.files().list(q = "'" + DICT_PARAM[i]['sub_id'] + "' in parents and trashed = False ").execute()['files'][:1]
        channel_name = FILE_LIST[DICT_PARAM[i]['name']]['CH']
        table_name = FILE_LIST[DICT_PARAM[i]['name']]['TABLE']
        excel_path = '/home/buneo/Stock/CCT20/{}/'.format(lastest_date.replace('-',''))
        
        if table_name != '' :
            
            table = pandas.read_sql("select * from report.{0} where date = '{1}'".format(table_name , lastest_date) , con = conn)        
            for idx , item in enumerate(items) :
                
                file_path = '/home/buneo/Stock/SLACK_REPORT/{0}/{1}/{2}'.format(FILE_LIST[DICT_PARAM[i]['name']]['LOCAL_FOLDER'],lastest_date , item)
                data = table[table['no'] == item[:4]].iloc[0]
                
                try:
                    response = client.files_upload(file = file_path,
                                               initial_comment = "{12}/{13}\r\n日期 : {0}\r\nNO : <https://www.wantgoo.com/stock/{1}/technical-chart|{1}>\r\n名稱 : {2}\r\n收盤價 : {3}\r\n\
5日集中度 : {4}\r\n20日集中度 : {5}\r\n20日外資籌碼 : {6}股\r\n20日投信籌碼 : {7}股\r\n10日平均交易量 : {8}張\r\n類股 : {9}\r\n\
題材 : {10}\r\n均線糾結數量 : {11}".format(data['date'],data['no'],data['name'],data['price'],data['cct5'],
                                          data['cct20'],data['fi_obs'],data['it_obs'],data['qty10'],data['exponent'],
                                          data['topic'][:-1],data['tangled_num'],idx+1,len(items)),
                                               channels = channel_name )
                except SlackApiError as e:
                    assert e.response["ok"] is False
                    assert e.response["error"]  # str like 'invalid_auth', 'channel_not_found'
                    print(f"Got an error: {e.response['error']}")
                    
            try:
                response = client.files_upload(initial_comment = "{2} {0}資料已經上傳了，總共{1}筆".format(lastest_date , len(items) , ADVICE_LIST),
                                               file = excel_path + FILE_LIST[DICT_PARAM[i]['name']]['FILE_NAME'].format(lastest_date.replace('-','')[4:]),
                                               channels = channel_name )
            except SlackApiError as e:
                assert e.response["ok"] is False
                assert e.response["error"]  # str like 'invalid_auth', 'channel_not_found'
                print(f"Got an error: {e.response['error']}")
            
            
        else  :
            table = None
            
            for item in items:
                file_path = '/home/buneo/Stock/SLACK_REPORT/{0}/{1}/{2}'.format(FILE_LIST[DICT_PARAM[i]['name']]['LOCAL_FOLDER'],lastest_date , item)

                try:
                    response = client.files_upload(file = file_path,                                                
                                                   channels = channel_name )
                except SlackApiError  as e :
                    assert e.response["ok"] is False
                    assert e.response["error"]  # str like 'invalid_auth', 'channel_not_found'
                    print(f"Got an error: {e.response['error']}")
                    
            try:
                response = client.chat_postMessage(text = "{2} {0}資料已經上傳了，總共{1}筆".format(lastest_date , len(items) , ADVICE_LIST),
                                                   channel = FILE_LIST[DICT_PARAM[i]['name']]['CH_ID'])
            except SlackApiError as e:
                assert e.response["ok"] is False
                assert e.response["error"]  # str like 'invalid_auth', 'channel_not_found'
                print(f"Got an error: {e.response['error']}")

## 【 PythonOperator 】

In [19]:
task_SLACK_MESSAGE = PythonOperator(task_id = 'task_SLACK_MESSAGE',
                                   python_callable = SLACK_MESSAGE,
                                   dag =dag)

# UPLOAD_GOOGLE_DRIVE

## 【 BashOperator 】

In [ ]:
task_UPLOAD_GOOGLE_DRIVE = BashOperator(task_id = 'task_UPLOAD_GOOGLE_DRIVE',
                                           bash_command = 'python /home/buneo/Stock/all_func/GOOGLE_DRIVES.py' ,
                                           dag = dag ,
                                           trigger_rule = 'all_success')

# DAG

In [20]:
task_CHECK_WORK_DATE >> [task_INSTI_INVESTOR_SUMMARIZE , task_STOCK_SMA , task_OTC_SMA , task_FI_OBS_SUM , task_IT_OBS_SUM , task_DL_OBS_SUM , task_MACD , task_BIAS , task_KD , task_CCT20 , task_FI_EXPONENT_ENERGY]
task_CHECK_WORK_DATE >> task_NOT_TRADED_DATE
task_CHECK_WORK_DATE >> task_ERROR_TODAY_DATA
task_CCT20 >> task_CCT5
task_FI_EXPONENT_ENERGY >> task_IT_EXPONENT_ENERGY >> task_REPORT_EXPONENT_ENERGY
[task_CCT5 , task_STOCK_SMA , task_OTC_SMA , task_FI_OBS_SUM , task_IT_OBS_SUM ] >> task_REPORT_CCT20 >> task_SLACK_CCT20_MACD >> task_SLACK_MESSAGE >> task_UPLOAD_GOOGLE_DRIVE
[task_STOCK_SMA , task_OTC_SMA , task_FI_OBS_SUM ] >> task_REPORT_GOODPRICE

NameError: name 'task_CHECK_WORK_DATE' is not defined